<h2><%= Comment.model_name.human %></h2>

<% @commentable.comment.each do |c| %>
  <div class='comment-item'>
    <p>
      <strong><%= User.human_attribute_name(:name) %>:</strong>
      <%= c.user.name %>
    </p>

    <p>
      <strong><%= Comment.human_attribute_name(:created_at) %>:</strong>
      <%= c.created_at %>
    </p>

    <p>
      <strong><%= Comment.human_attribute_name(:body) %>:</strong>
      <%= c.body %>
    </p>
    <% if c.user.id == current_user.id %>
      <%= button_to t('views.common.destroy', name: Comment.model_name.human.downcase), [@commentable, c], method: :delete %>
    <% end %>
  </div>
<% end %>
