<div id="<%= dom_id user %>">
  <p>
    <strong>Email</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Zip Code</strong>
    <%= user.zip_code %>
  </p>

  <p>
    <strong>Address</strong>
    <%= user.address %>
  </p>

  <p>
    <strong>Introduction</strong>
    <%= user.introduction %>
  </p>
</div>
