<p style="color: green"><%= notice %></p>
<div class="show-item">
  <%= render @book %>
</div>

<nav class="page-nav">
  <%= link_to t("book.Edit this book"), edit_book_path(@book) %> |
  <%= link_to t("book.Back to books"), books_path %>

  <%= button_to t("button.destroy", name: Book.model_name.singular), @book, method: :delete %>
</nav>
