<div id="<%= dom_id report %>">
  <p>
    <strong> <%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong> <%= User.human_attribute_name(:name) %>:</strong>
    <% if  report.user.name.empty? %>
      <%= link_to report.user.email, report.user %>
    <% else %>
      <%= link_to report.user.name, report.user %>
    <% end %>
  </p>

  <p>
    <strong> <%= Report.human_attribute_name(:created_at) %>:</strong>
    <%= l(report.created_at, format: :long) %>
  </p>

  <p>
    <strong> <%= Report.human_attribute_name(:body) %>:</strong>
    <%= report.body %>
  </p>
</div>
