<div id="<%= dom_id report %>">
  <p>
    <strong> <%= Report.human_attribute_name(:title) %>:</strong>
    <%= report.title %>
  </p>

  <p>
    <strong> <%= Report.human_attribute_name(:body) %>:</strong>
    <%= report.body %>
  </p>
</div>
