<h1><%= t('views.common.title_index', name: i18n_pluralize(Report.model_name.human)) %></h1>

<div id="reports">
  <% @reports.each do |report| %>
    <p>
      <%= link_to report.title, report %>
    </p>
    <p>
      <%= User.model_name.human %>:<%= link_to report.user.name, report.user %>
    </p>
    <br>
  <% end %>
</div>

<%= paginate @reports %>
